
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap'); */

 body{
  background:#E3F2FD ;
  
  
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#searchBar {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  background-color: #fff;
}

input[type="text"] {
  padding: 5px;
  font-size: 13px;
  border: none;
  border-radius: 56px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}


#btnsearch {
  padding: 0.5rem;
  border: none;
  background-color: #7fbdd8;
  color: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
  
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(110, 121, 121, 0.5);
  color: #333333 ;
  
}

.weather-info {
  text-align: left;
  display: flex;
  justify-content: space-between;
  
  margin-right: 10px;
  font-size: 13px;
  text-align: center;
}


img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.date {
  margin-top: -16px;
  margin-bottom: 2px;
}

.description {
  margin-top: -12px;
  margin-bottom: 26px;
}
.outside {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 182px;
  
}
.descriptionBox {
  background-color: #9ebacd;
  box-shadow: 0 4px 8px rgba(124, 136, 139, 0.4);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}


.weather-info {
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
 
}
.des {
  margin-top: -17px;
  margin-bottom: 3px;
  color:  #757575;
}
#current-day-and-date{
  font-size: 12px;
  font-style: italic;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  font-style: bold;
}

/* .weather-info.country{
  font-family: 'Merriweather', serif;
} */
#current-day-and-date{
  font-size: 11px;
  font-style: italic;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  font-style: bold;
} 

/* add */
.forecast {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Add this line to allow wrapping */
  margin-top: 20px;
}

.forecast-day {
  text-align: center;
  width: calc(14.28% - 20px); /* Adjust width for each day */
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forecast-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-bottom: 8px;
}

.forecast-temperature {
  font-size: 12px;
}

